/*****************************************/
/* Right-to-left language support
 * https://codex.wordpress.org/Right-to-Left_Language_Support
/*****************************************/
body {
    direction: rtl;
    unicode-bidi: embed;
}

.rtl .screen-reader-text:focus {
    left: auto;
    right: 5px;
}

.rtl .blogshammir-entry .wp-block-quote, .rtl blockquote {
    border-left-style: none;
    border-right-style: solid;
    padding-right: 3rem;
    padding-left: 5rem;
    background-position: 3% 90%;
}

.rtl .blogshammir-entry ol,
.rtl .blogshammir-entry ul:not(.wp-block-latest-posts) {
    margin-left: 0;
    margin-right: 4rem;
}

.rtl .menu-item-custom-more i {
    margin-right: .4rem;
}

.rtl #blogshammir-topbar .blogshammir-topbar-widget__text .blogshammir-icon {
    margin: 0 0 0 0.7rem;
}

.rtl #blogshammir-header-inner .blogshammir-nav>ul>li {
    margin-left: 1.6rem;
}

.rtl .blogshammir-nav>ul>li:first-child,
.rtl .blogshammir-nav>ul>li:first-of-type {
    margin-left: 1.6rem !important;
}

.rtl.blogshammir-header-layout-2 .blogshammir-header-container .blogshammir-logo {
    margin-right: 0;
    margin-left: 3.2rem;
}

.rtl.blogshammir-header-layout-2.blogshammir-is-mobile .blogshammir-header-container .blogshammir-logo,
.rtl.blogshammir-header-layout-1 .blogshammir-header-container .blogshammir-logo,
.rtl.blogshammir-header-layout-6 .blogshammir-logo-container .blogshammir-logo,
.rtl.blogshammir-header-layout-4 .blogshammir-logo-container .blogshammir-logo {
    margin-left: auto;
    margin-right: unset;
}

.rtl.blogshammir-header-layout-6 #blogshammir-header-inner .blogshammir-nav>ul>li:last-child,
.rtl.blogshammir-header-layout-4 #blogshammir-header-inner .blogshammir-nav>ul>li:last-child {
    margin-left: 0 !important;
}

.rtl .blogshammir-social-nav:not([class*="rounded"])>ul>li:not(:last-child)>a {
    margin-right: 0;
    margin-left: 1.6rem;
}

.rtl .blogshammir-social-nav.rounded-border>ul>li:first-of-type>a>span:not(.screen-reader-text),
.rtl .blogshammir-social-nav.rounded-fill>ul>li:first-of-type>a>span:not(.screen-reader-text) {
    margin-right: 0;
}

.rtl .blogshammir-header-element>.blogshammir-header-widget:first-child {
    margin-left: 0;
}

.rtl .blogshammir-header-element>.blogshammir-header-widget.blogshammir-header-widget__image {
    padding-left: 0;
}

.rtl.blogshammir-header-layout-6 .blogshammir-widget-location-right .blogshammir-header-widget:last-of-type,
.rtl.blogshammir-header-layout-4 .blogshammir-widget-location-right .blogshammir-header-widget:last-of-type {
    padding-left: 0;
}

.rtl.blogshammir-header-layout-6 .blogshammir-widget-location-left .blogshammir-header-widget:first-of-type {
    padding-right: 0;
}

.rtl.blogshammir-header-layout-6 .blogshammir-nav-container .blogshammir-widget-location-left .blogshammir-header-widget:first-child,
.rtl.blogshammir-header-layout-4 .blogshammir-nav-container .blogshammir-widget-location-left .blogshammir-header-widget:first-child {
    padding-left: 0.4rem;
}

.rtl .ticker-slider-box {
    padding: 5px;
}

.rtl .ticker-slider-controls.blogshammir-swiper-buttons {
    flex-direction: row-reverse;
}

.rtl .author-avatar img {
    margin-left: 0.8rem;
    margin-right: 0;
}

.rtl .entry-meta .blogshammir-icon {
    margin-left: 0.7rem;
    margin-right: 0;
}

.rtl .entry-meta .entry-meta-elements>span:last-child {
    padding-right: 1.1rem;
    margin-left: 0;
    padding-left: 0;
}

.rtl .entry-meta .entry-meta-elements>span:before {
    right: -0.75rem;
}

.rtl.blogshammir-blog-horizontal .blogshammir-article .entry-meta .entry-meta-elements>span:first-child,
.rtl.blogshammir-blog-layout-1 .blogshammir-article .entry-meta span:first-child {
    padding-left: 0.5rem !important;
    padding-right: 0 !important;
}

.rtl.blogshammir-sidebar-style-2 #pyml .pyml-slider-items .widget-title::before {
    right: 2rem;
}

.rtl.blogshammir-sidebar-style-2 #pyml .pyml-slider-items .widget-title::after {
    right: 9rem;
}

.rtl .blogshammir-card-items .blogshammir-swiper-buttons:not(.ticker-slider-controls) {
    float: left;
    margin-left: 0;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 1.6rem;
}

.rtl .blogshammir-swiper-buttons .swiper-button-prev,
.rtl .blogshammir-swiper-buttons .swiper-button-next {
    --swiper-navigation-sides-offset: 40px;
}

.rtl .hester-posts-list-widget-init-s1 .hester-posts-list-widget-thumb {
    margin-right: 0;
    margin-left: 1.8rem;
}

.rtl .hester-posts-list-widget-categories .blogshammir-icon,
.rtl .hester-posts-list-widget-meta .blogshammir-icon,
.rtl .hester-posts-list-widget-categories .hester-icon,
.rtl .hester-posts-list-widget-meta .hester-icon {
    margin-right: 0;
    margin-left: 0.6rem;
}

.rtl.is-footer-heading-init-s1 #colophon .wp-block-heading::before,
.rtl.is-footer-heading-init-s1 #colophon .widget-title::before {
    right: 0;
    left: 0;
}

.rtl.is-footer-heading-init-s1 #colophon .wp-block-heading::after,
.rtl.is-footer-heading-init-s1 #colophon .widget-title::after {
    right: 7rem;
    left: 0;
}

.rtl.is-section-heading-init-s3 .blogshammir-card-items .widget-title::after,
.rtl.is-section-heading-init-s3 #secondary .wp-block-search .wp-block-search__label::after,
.rtl.is-section-heading-init-s3 #secondary .wp-block-heading::after,
.rtl.is-section-heading-init-s3 #secondary .widget-title::after,
.rtl.is-footer-heading-init-s3 #colophon .wp-block-search .wp-block-search__label::after,
.rtl.is-footer-heading-init-s3 #colophon .wp-block-heading::after,
.rtl.is-footer-heading-init-s3 #colophon .widget-title::after {
    right: 0;
    left: unset;
}

.rtl.blogshammir-sidebar-style-2 .pyml-slider-items .widget-title::before,
.rtl.blogshammir-sidebar-style-2 #secondary .wp-block-search .wp-block-search__label::before,
.rtl.blogshammir-sidebar-style-2 #secondary .wp-block-heading::before,
.rtl.blogshammir-sidebar-style-2 #secondary .widget-title::before {
    right: 2.5rem;
    left: 0;
}

.rtl.blogshammir-sidebar-style-2 .pyml-slider-items .widget-title::after,
.rtl.blogshammir-sidebar-style-2 #secondary .wp-block-search .wp-block-search__label::after,
.rtl.blogshammir-sidebar-style-2 #secondary .wp-block-heading::after,
.rtl.blogshammir-sidebar-style-2 #secondary .widget-title::after {
    right: 0;
    left: unset;
}

.rtl .blogshammir-vertical-slider .blogshammir-entry-content-wrapper .blogshammir-btn.btn-text-1::after,
.rtl .blogshammir-horizontal-slider .blogshammir-entry-content-wrapper .blogshammir-btn.btn-text-1::after {
    margin-left: 0;
    margin-right: 0.8rem;
    margin-top: 0.1rem;
    transform: rotate(180deg);
}

.rtl .navigation .nav-links .right-arrow svg {
    transform: rotate(0deg);
}

.rtl .navigation .nav-links .left-arrow svg {
    transform: rotate(180deg);
}

.rtl .blogshammir-header-widget:after {
    right: unset;
    left: -.5rem;
    margin-right: 8px;
    margin-left: 8px;
}

.rtl .blogshammir-header-widgets .blogshammir-search-simple {
    right: unset;
    left: -1.5rem;
}

.rtl .blogshammir-header-widgets .blogshammir-search-simple:after {
    right: unset;
    left: 1.6rem;
}

.rtl .blogshammir-header-widgets.blogshammir-widget-location-left .blogshammir-search-simple {
    right: -1.5rem;
    left: unset;
}

.rtl .blogshammir-header-widgets.blogshammir-widget-location-left .blogshammir-search-simple:after {
    right: 1.6rem;
    left: unset;
}

.rtl .blogshammir-header-widgets .blogshammir-search-simple .blogshammir-search-form input {
    padding: 1.6rem 2rem 1.6rem 4.5rem;
}

.rtl .blogshammir-header-widgets .blogshammir-search-simple button:not(.blogshammir-search-close) {
    right: unset;
    left: 5.6rem;
}

.rtl .blogshammir-header-widgets .blogshammir-search-simple .blogshammir-search-close {
    right: unset;
    left: 1.6rem;
}

.rtl .widget.widget_block ul:not(.submenu-container, .wp-block-social-links, .wp-block-latest-posts__list)>li>a:hover::before,
.rtl.using-keyboard .widget.widget_block ul:not(.submenu-container, .wp-block-social-links, .wp-block-latest-posts__list)>li>a:focus::before,
.rtl .widget.widget_archive ul:not(.children)>li>a:hover::before,
.rtl.using-keyboard .widget.widget_archive ul:not(.children)>li>a:focus::before,
.rtl .widget.widget_categories ul:not(.children)>li>a:hover::before,
.rtl.using-keyboard .widget.widget_categories ul:not(.children)>li>a:focus::before,
.rtl .widget.widget.widget_pages ul:not(.sub-menu)>li>a:hover::before,
.rtl.using-keyboard .widget.widget.widget_pages ul:not(.sub-menu)>li>a:focus::before,
.rtl .widget.widget_nav_menu ul:not(.sub-menu)>li>a:hover::before,
.rtl.using-keyboard .widget.widget_nav_menu ul:not(.sub-menu)>li>a:focus::before {
    margin-right: 0;
    margin-left: 1.2rem;
}

.rtl .blogshammir-nav .menu-item-has-children>a>.blogshammir-icon,
.rtl .blogshammir-nav .page_item_has_children>a>.blogshammir-icon {
    margin-left: 0;
    margin-right: 0.4rem;
}

@media screen and (max-width: 960px) {
    .rtl .blogshammir-mobile-toggen .blogshammir-icon {
        right: unset;
        left: 0;
    }
    .rtl #blogshammir-header-inner .blogshammir-nav .menu-item-has-children>a > span,
    .rtl #blogshammir-header-inner .blogshammir-nav .page_item_has_children>a > span {
        border-right: none;
        border-left: 1px solid rgba(185, 185, 185, 0.4);
    }
}

@media only screen and (min-width: 869px) {
    .rtl.blogshammir-blog-horizontal .blogshammir-article:not(.format-quote) .blogshammir-blog-entry-wrapper.blogshammir-thumb-right .entry-media {
        margin-left: 0;
        margin-right: 3rem;
    }

    .rtl.blogshammir-blog-horizontal .blogshammir-article:not(.format-quote) .blogshammir-blog-entry-wrapper.blogshammir-thumb-left .entry-media {
        margin-right: 0;
        margin-left: 3rem;
    }

    .rtl.blogshammir-layout__boxed-separated.blogshammir-blog-image-wrap .blogshammir-blog-horizontal .blogshammir-article:not(.format-quote) .blogshammir-blog-entry-wrapper.blogshammir-thumb-left .entry-media,
    .rtl.blogshammir-layout__boxed-separated.blogshammir-blog-image-wrap.blogshammir-blog-horizontal .blogshammir-article:not(.format-quote) .blogshammir-blog-entry-wrapper.blogshammir-thumb-left .entry-media {
        margin-left: 3rem;
        margin-right: -6rem;
    }

    .rtl.blogshammir-layout__boxed-separated.blogshammir-blog-image-wrap:not(.single-post) .blogshammir-blog-horizontal .blogshammir-article.format-video:not(.format-quote),
    .rtl.blogshammir-layout__boxed-separated.blogshammir-blog-image-wrap.blogshammir-blog-horizontal:not(.single-post) .blogshammir-article.format-video:not(.format-quote),
    .rtl.blogshammir-layout__boxed-separated.blogshammir-blog-image-wrap .blogshammir-blog-horizontal .blogshammir-article:not(.format-quote, .no-entry-media),
    .rtl.blogshammir-layout__boxed-separated.blogshammir-blog-image-wrap.blogshammir-blog-horizontal .blogshammir-article:not(.format-quote, .no-entry-media) {
        margin-left: 0;
        margin-right: 3rem;
    }

    .rtl.bloglamp:not(.blogshammir-blog-horizontal-wrap) .blogshammir-article.has-post-thumbnail:not(.format-quote) .entry-media,
    .rtl.bloglamp:not(.blogshammir-blog-horizontal-wrap) .blogshammir-article .entry-media {
        border-radius: 0 var(--blogshammir-radius) var(--blogshammir-radius) 0;
    }
}

@media only screen and (max-width: 868px) {
    .rtl .blogshammir-mobile-nav {
        margin-left: 0;
        margin-right: 1.6rem;
    }
}

@media (min-width: 36em) {
    .rtl.blogshammir-blog-horizontal-wrap .blogshammir-article:not(.format-quote) .blogshammir-blog-entry-wrapper .entry-media {
        margin-right: auto;
    }
}

.rtl.blogshammir-layout__boxed-separated.blogshammir-sidebar-position__right-sidebar #primary {
    padding-right: 0;
    padding-left: 5rem;
}

.rtl.blogshammir-layout__boxed-separated.blogshammir-sidebar-position__right-sidebar.blogshammir-sidebar-style-2 #primary {
    padding-right: 0;
    padding-left: 3rem;
}

.rtl.blogshammir-layout__boxed-separated.blogshammir-sidebar-position__left-sidebar #primary {
    padding-left: 0;
    padding-right: 5rem;
}

.rtl.blogshammir-layout__boxed-separated.blogshammir-sidebar-position__left-sidebar.blogshammir-sidebar-style-2 #primary {
    padding-left: 0;
    padding-right: 3rem;
}

.rtl.blogshammir-has-comments-toggle #blogshammir-comments-toggle .blogshammir-icon {
    margin-left: 0.8rem;
    margin-right: 0;
}

.rtl #hero-search .search-form .search-submit,
.rtl #colophon .search-form .search-submit,
.rtl #main .search-form .search-submit {
    left: 0.8rem;
    right: unset;
}

.rtl .blogshammir-live-search-container .wrapper .close {
    left: 10px;
    right: unset;
}

.rtl .ticker-slide-item .ticker-slider-backgrounds {
    margin-right: 0;
    margin-left: 1rem;
}

.rtl .style-4.blogshammir-post-item .blogshammir-post-thumb {
    margin-right: 0;
    margin-left: 2rem;
}

.rtl .breadcrumb-trail .trail-items li:after {
    transform: rotateY(180deg);
}

.rtl .author-box .author-box-avatar {
    margin-right: 0;
    margin-left: 2.5rem;
}

.rtl.single .post-nav .nav-next .nav-content img {
    margin-left: 0;
    margin-right: 2rem;
}

.rtl.single .post-nav .nav-next .nav-content span:not(.ss-on-media-image-wrap) {
    padding-left: 0;
    padding-right: 2rem;
}

.rtl.single .post-nav .nav-previous .nav-content img {
    margin-right: 0;
    margin-left: 2rem;
}

.rtl.single .post-nav .nav-previous .nav-content span:not(.ss-on-media-image-wrap) {
    padding-right: 0;
    padding-left: 2rem;
}

.rtl .blogshammir-post-list .entry-title a,
.rtl .ticker-slide-item .slide-inner h6 a,
.rtl .blogshammir-post-item .entry-header a,
.rtl #main .blogshammir-article .entry-header .entry-title a {
    background-image: -webkit-gradient(linear, right top, right bottom, from(currentColor), color-stop(98%, currentColor));
    background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
    background-position: right 100%;
}

.rtl .blogshammir-post-list .entry-title a:hover,
.rtl .blogshammir-hero-slider .swiper-bottom .blogshammir-post-list .entry-title a:focus,
.rtl .ticker-slide-item .slide-inner h6 a:hover,
.rtl .ticker-slide-item .slide-inner h6 a:focus,
.rtl .blogshammir-post-item:hover .entry-header .entry-title a,
.rtl.using-keyboard .blogshammir-post-item:focus-within .entry-header .entry-title a,
.rtl #main .blogshammir-article:hover .entry-header .entry-title a,
.rtl.using-keyboard #main .blogshammir-article:focus-within .entry-header .entry-title a {
    background-image: -webkit-gradient(linear, right top, right bottom, from(currentColor), color-stop(98%, currentColor));
    background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
    background-position: right 100%;
}
